<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% movies.forEach( (theMovie) => { %>
        <li>
          <a href="/movies/<%= theMovie._id %>">
            <%= theMovie.title %>
          </a>
          - <%= theMovie.genre %>
          <a href="/movies/<%= theMovie._id %>/edit">
            Edit
          </a>
          <form action="/movies/<%= theMovie._id %>/delete" method="POST">
            <button> Delete </button>
          </form>
        </li>
      <% }); %>
    </ul>

    <a href = "/movies/new">
      Click here to add a new movie
    </a>
  </body>
</html>
